*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    height: 80px;
    width: 100%;
    padding: 25px 50px;
    justify-content: space-between;
    .link a {
        text-decoration: none;
        padding-right: 45px;
        color: black;    
    }
    .logo a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;   
    } 
}
.container{
    display: flex;
    padding-top: 70px;
    padding-left: 250px;
    padding-bottom: 100px;
    .my-profil img{
        border-radius: 50%;
    }
    .about-me{
        padding-left: 40px;
        padding-right: 400px;
        padding-top: 20px;
        p{
            padding-top: 20px;
            line-height: 20px;
        }
        button{
            margin-top: 20px;
            padding: 10px;
            width: 100px;
        }
        button a {
            text-decoration: none;
            color: black;
        }
        .my-cv{
            background-color: orange;
        }
        .my-contact{
            background-color: red;
        }
        .my-projet{
            background-color: aqua;
        }   
    }
}
.my-footer{
    display: flex;
    border-top: 1px black solid;
    margin: 20px 100px 20px 100px;
    justify-content: space-between;
    padding-right: 50px;
    div{
        padding-top: 20px;
        height: 100px;
           
    }
    p{
        padding-top: 10px;
    }
    p a{
        text-decoration: none;
        color: black;
    }
}
.proxyma{
    display: flex;
    padding-top: 60px;
    padding-left: 170px;
    div{
        height: 300px;
        width: 50%;
    }
    div img{
        width: 400px;
        height: 280px;
    }
    .proxyma_description{
        padding-right: 250px;
    }
    .proxyma_description p{
        padding-top: 20px;
        line-height: 20px;
    }
    .proxyma_img{
        padding-left: 100px;   
    }
    .proxyma_img img{
        border: solid 10px black;
    }
}
.fashion{
    display: flex;
    padding-top: 30px;
    padding-left: 170px;
    div{
        height: 300px;
        width: 50%;
    }
    div img{
        width: 400px;
        height: 280px;
    }
    .fashion_sale{
        padding-right: 250px;
    }
    .fashion_sale p{
        padding-top: 20px;
        line-height: 20px;
    }
    .fashion-img{
        padding-left: 100px;   
    }
    .fashion-img img{
        border: solid 10px black;
    }
}
.sharing{
    display: flex;
    padding-top: 50px;
    padding-left: 170px;
    padding-bottom: 30px;
    div{
        height: 300px;
        width: 50%;
    }
    div img{
        width: 400px;
        height: 280px;
    }
    .sharing_car{
        padding-right: 250px;
    }
    .sharing_car p{
        padding-top: 20px;
        line-height: 20px;
    }
    .sharing-img{
        padding-left: 100px;   
    }
    .sharing-img img{
        border: solid 10px black;
    }
}
.projet h3{
    padding-left: 170px;
    padding-top: 30px;
}
.contact{
    display: flex;
    padding-top: 50px;
    padding-left: 190px;
    .coordonnees{
        height: 400px;
        width: 40%;
        p{
            padding-top: 25px;
        }
        p a{
            text-decoration: none;
            color: black;
        }
    }
    .formulaire{
        padding-left: 20px;
        display: flex;
        padding-left: 200px;   
    }
    .name{
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 10px;
        input{
            height: 30px;
        }
        .button{
            height: 50px;
            margin-top: 70px;
            width: 100px;
            background-color: orange;
            
        }    
    }
}
 form{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 .realisation{
    padding-left: 100px;
    padding-right: 100px;
    line-height: 25px;
    h3{
        padding-top: 20px;
        padding-bottom: 40px;
    }
    p{
        padding-top: 10px;
        margin-top: 5px;
    }
    .annee{
        text-align: right;
    }
 }
 .langue {
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 1px black solid;
    margin: 20px 100px 20px 100px;
    ul li{
        padding-top: 10px;
    }
    h3{
        padding-bottom: 30px;
    }
 }.competence{
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 1px black solid;
    margin: 20px 100px 20px 100px;
    ul li{
        padding-top: 10px;
    }
    h3{
        padding-bottom: 30px;
    }
 }
 .experience{
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 1px black solid;
    margin: 20px 100px 20px 100px;
    ul li{
        padding-top: 10px;
    }
    h3{
        padding-bottom: 30px;
    }
    p{
        padding-top: 10px;
        line-height: 20px;
        margin-top: 5px;
    }
    .annee{
        text-align: right;
    }

 }
 
  


